header {
	height:92px; 
	background:#fff url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/header-icons.png") 1448px -2px no-repeat;
	border-bottom:1px solid #eee;
	ul {
		padding:33px 0 0 45px;
		li {
			list-style:none;
			float:left;
			margin-right:30px;	
			a {
				font-weight:700;
				color:#333;
				font-size:14px;	
				text-decoration:none;
				text-transform:uppercase;
				letter-spacing:1px;
			}
			a:hover {
				color:#000;
				cursor:pointer;
			}
		}
	}
}